/** @format */

.ccd-container {
  width: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  transform: translateX(-8px);
  z-index: 100;
}
.ccd-container:hover {
  display: block;
  height: 400px;
}